In [1]:
import pandas as pd
import numpy as np

In [7]:
columns = pd.read_csv(r"C:\Users\avina\Desktop\innomatic_assignment\Innomatic_assignment\Streamlit\my_app\data\data_dictionary.csv")

In [8]:
columns

             Field Possible Values                                 Comments
0           fsa_id             int  Food Standard Agency's ID for this pub.
1             name          string                         Name of the pub.
2          address          string      Address fields separated by commas.
3         postcode          string                     Postcode of the pub.
4          easting             int                                      NaN
5         northing             int                                      NaN
6         latitude         decimal                                      NaN
7        longitude         decimal                                      NaN
8  local_authority          string    Local authority this pub falls under.

In [38]:
data = pd.read_csv(r"C:\Users\avina\Desktop\innomatic_assignment\Innomatic_assignment\Streamlit\my_app\data\use_full.csv")
data.head()

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
2,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
3,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
4,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh

In [72]:
res

              0          1
30835 -6.316629  49.914791
30838 -6.316630  49.914791
30841 -6.299098  49.914148
30843 -6.315118  49.914407
30844 -6.344763  49.892485

In [22]:
def nearest_pub(n1,n2):
    data = pd.read_csv(r"C:\Users\avina\Desktop\innomatic_assignment\Innomatic_assignment\Streamlit\my_app\data\use_full.csv")
    data1 = data.longitude.astype('float')
    data2 = data.latitude.astype('float')
    res = pd.DataFrame(zip(data1, data2))
    test = np.array([n1,n2])
    distances=np.sqrt(np.sum(np.sqrt(res-test),axis=1))
    k=5
    min_indices=np.argpartition(distances,k-1)[:k]
    res=res[res.index.isin(min_indices)]
    return res

In [100]:
data = pd.read_csv(r"C:\Users\avina\Desktop\innomatic_assignment\Innomatic_assignment\Streamlit\my_app\data\use_full.csv")
data1 = data.longitude.astype('float')
data2 = data.latitude.astype('float')
res = pd.DataFrame(zip(data1, data2))
test = np.array([52.028694,0.895650])
distances=np.sqrt(np.sum(np.sqrt(res-test),axis=1))
t=distances.sort()
print(t,distances)


min_indices=np.argpartition(distances,)[:k]
res=res[res.index.isin(min_indices)]

AttributeError: 'Series' object has no attribute 'sort'

In [94]:
res

              0          1
30835 -6.316629  49.914791
30838 -6.316630  49.914791
30841 -6.299098  49.914148
30843 -6.315118  49.914407
30844 -6.344763  49.892485

In [87]:
data.iloc[res.index]

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
30835,365616,Bishop And Wolf,"Bishop And Wolf Inn, Hugh Street, Hugh Town, S...",TR21 0LL,90230,10557,49.914791,-6.316629,Isles of Scilly
30838,365656,Jacks Micro Bar,"Commercial Unit, Corner House, Hugh Street, Hu...",TR21 0LL,90230,10557,49.914791,-6.316630,Isles of Scilly
30841,365677,Old Town Inn,"Old Town Lane, Old Town, St Mary's, Isles Of S...",TR21 0NN,91484,10413,49.914148,-6.299098,Isles of Scilly
30843,365729,The Scillonian Club,"Lower Strand, Hugh Town, St Mary's, Isles Of S...",TR21 0LP,90336,10509,49.914407,-6.315118,Isles of Scilly
30844,365731,The Turks Head,"Turks Head, The Quay, St Agnes, Isles Of Scilly",TR22 0PL,88068,8196,49.892485,-6.344763,Isles of Scilly

In [78]:
data.iloc[res]

IndexError: DataFrame indexer is not allowed for .iloc
Consider using .loc for automatic alignment.

In [84]:
data.iloc[res.index]

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
30835,365616,Bishop And Wolf,"Bishop And Wolf Inn, Hugh Street, Hugh Town, S...",TR21 0LL,90230,10557,49.914791,-6.316629,Isles of Scilly
30838,365656,Jacks Micro Bar,"Commercial Unit, Corner House, Hugh Street, Hu...",TR21 0LL,90230,10557,49.914791,-6.316630,Isles of Scilly
30841,365677,Old Town Inn,"Old Town Lane, Old Town, St Mary's, Isles Of S...",TR21 0NN,91484,10413,49.914148,-6.299098,Isles of Scilly
30843,365729,The Scillonian Club,"Lower Strand, Hugh Town, St Mary's, Isles Of S...",TR21 0LP,90336,10509,49.914407,-6.315118,Isles of Scilly
30844,365731,The Turks Head,"Turks Head, The Quay, St Agnes, Isles Of Scilly",TR22 0PL,88068,8196,49.892485,-6.344763,Isles of Scilly

In [59]:
print(i for i in min_indices.index)

<generator object <genexpr> at 0x00000209017C3430>

In [48]:
file = np.argpartition(distances,)[:5]
print(file)

0    28988
1    28990
2    28982
3    28983
4    28984
dtype: int64

In [37]:
data.iloc[file.index]

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
28983,346198,Dristi's Bar,"40-44 St Pauls Road, Clifton, Bristol",BS8 1LR,357681,173559,51.459424,-2.610504,"Bristol, City of"
28984,346256,Eldon House,"The Eldon House, 6 Lower Clifton Hill, Clifton...",BS8 1BT,357682,173059,51.454919,-2.610429,"Bristol, City of"
28985,346330,Famous Royal Naval Volunteer,"17-18 King Street, City Centre, Bristol",BS1 4EF,358777,172689,51.451665,-2.594628,"Bristol, City of"
28986,346357,Fiddlers,"Fiddlers, Willway Street, Bedminster, Bristol",BS3 4BG,358920,171777,51.443484,-2.592464,"Bristol, City of"
28988,346379,Fishponds Tap,"The Portcullis, 693 Fishponds Road, Fishponds,...",BS16 3UH,363192,175761,51.479600,-2.531416,"Bristol, City of"

In [ ]:
# pd.options.display.max_rows = None

In [ ]:
c_data = data[data.latitude.str.contains(r'[@#&$%+-/\*]')]

In [ ]:
print(data.shape)
print(c_data.shape)

In [ ]:
data.info()

In [ ]:
lst = ["fsa_id","name","address","postcode","latitude","longitude","local_authority"]

In [ ]:
new_data  = c_data[lst]

In [ ]:
new_data.head()

In [16]:
new_data.info()

NameError: name 'new_data' is not defined

In [ ]:
new_data.to_csv('location_file.csv',index = False)

In [ ]:
import pandas as pd
data = pd.read_csv("location_file.csv")
data.head(20)
# total_local_authority = set(data.local_authority)

In [ ]:
uni = data.local_authority.value_counts().index
print(uni)

In [ ]:
data['local_authority'].value_counts()["Leeds"]

In [ ]:
import numpy as np
a = data.latitude
b = data.longitude

dist = np.sqrt(np.square(a-b))

print(dist)

In [ ]:
import numpy as np
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

In [ ]:
array = np.random.random(10)
print(array)

In [ ]:
print(find_nearest(data.latitude, value=52.046763))

In [2]:
lat = float(input())
lon = float(input())
test = np.array([lat,lon])

ValueError: could not convert string to float: '5 5'

In [ ]:
data.head()

In [ ]:
data1 = data.longitude
data2 = data.latitude
lst = zip(data1, data2)
file = [np.array(i)-(0.979340,51.970379) for i in lst]
five_nearest = np.sort(file)[:5]

In [ ]:
data1 = data.longitude
data2 = data.latitude
lst = zip(data1, data2)
file = [np.array(i)-(0.9,2.0) for i in lst]
five_nearest = np.sort(file)[:5]
lat_long_to_map = five_nearest+(0.979340,51.970379)

In [ ]:
data1 = data.longitude
data2 = data.latitude
lst = zip(data1, data2)
file=[np.sqrt(np.sum(np.square(np.array(i)-(0.979340,51.970379)))) for i in lst]
nearest = np.sort(file)[:5]
df =[i for i in lst if np.sqrt(np.sum(np.square(np.array(i) - (0.979340,51.970379)))) in nearest]

In [ ]:
print(nearest)

In [ ]:
lis = list()
for i in lst:
    if np.sqrt(np.sum(np.square(np.array(i) - (0.979340,51.970379)))) in nearest:
        lis.append(i)

In [ ]:
data1 = data.longitude
data2 = data.latitude

In [ ]:
a= nearest_lat_lon(0.979340,51.970379)
print(a)

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('location_file.csv')
data1 = data.longitude
data2 = data.latitude
lst = zip(data1, data2)
file=[np.sqrt(np.sum(np.square(np.array(i)-(0.979340,51.970379)))) for i in lst]
nearest = np.sort(file)[:5]
print(nearest)
near =[i for i in lst if np.sqrt(np.sum(np.square(np.array(i) - (0.979340,51.970379)))) in nearest]
print(near)
df = pd.DataFrame(near,columns=['lat', 'lon'])
print(df)

[0.         0.03180782 0.04329808 0.04805981 0.05109883]
[]
Empty DataFrame
Columns: [lat, lon]
Index: []

In [18]:
import pandas as pd
import numpy as np
data = pd.read_csv("my_app\data\data_dictionary - Sheet1.csv", usecols=["Field"])

final_data = pd.read_csv("my_app\data\open_pubs.csv", names=data.Field)
final_data

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
2,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
3,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
4,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
...,...,...,...,...,...,...,...,...,...
51326,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
51327,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
51328,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
51329,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
51330,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [4]:
import pandas as pd
import numpy as np
data = pd.read_csv('my_app/data/use_full.csv')
data[data['postcode']=='CO7 6LW']

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.97934,Babergh

In [12]:
def nearest_pub(n1,n2):
    data = pd.read_csv(r"C:\Users\avina\Desktop\innomatic_assignment\Innomatic_assignment\Streamlit\my_app\data\use_full.csv")
    data1 = data.longitude.astype('float')
    data2 = data.latitude.astype('float')
    res = pd.DataFrame(zip(data1, data2))
    test = np.array([n1,n2])
    distances=np.sqrt(np.sum(np.sqrt(res-test),axis=1))
    k=5
    min_indices=np.argpartition(distances,k-1)[:k]
    res=res[res.index.isin(min_indices)]
    return res

In [15]:
file = nearest_pub(1,2)
print(file.index)

Int64Index([30835, 30838, 30841, 30843, 30844], dtype='int64')

In [119]:
import pandas as pd
import numpy as np
import app
import pandas as pd
data = pd.read_csv('my_app/data/use_full.csv')
data1 = data.longitude.astype('float')
data2 = data.latitude.astype('float')
res = pd.DataFrame(zip(data1, data2))
test = np.array([-2.987319,53.047100])
distances=np.sqrt(np.sum(np.sqrt(res-test),axis=1))
k =5
min_indices=np.argpartition(distances,k-1)[:k]
res=res[res.index.isin(min_indices)]
print(res)

              0          1
29597 -4.934932  50.538475
29599 -5.055048  50.262270
29600 -5.049871  50.263529
29601 -4.717169  50.362687
29602 -5.073016  50.155014

In [10]:
file = nearest_pub(1,2)
print(app.df.min_indices)

TypeError: unsupported operand type(s) for -: 'zip' and 'int'

In [122]:
import pandas as pd
data = pd.read_csv('my_app/data/use_full.csv')
data1 = data.longitude.astype('float')
data2 = data.latitude.astype('float')
res = pd.DataFrame(zip(data1, data2))
test = np.array([-2.987319,53.047100])
distances=np.sqrt(np.sum(np.sqrt(res-test),axis=1))
idx=np.argsort(distances)
t =data.iloc[idx[:5]]

In [129]:
data[data[['latitude','longitude']]== res[['latitude','longitude']]]

KeyError: "None of [Index(['latitude', 'longitude'], dtype='object')] are in the [columns]"

In [111]:
import numpy as geek
  
# input array
in_arr = geek.array([ 2, 0,  1, 5, 4, 3,4,7,8,1])
print ("Input array : ", in_arr) 
  
out_arr = geek.argpartition(in_arr, )
print ("Output partitioned array indices: ", out_arr)

Input array :  [2 0 1 5 4 3 4 7 8 1]
Output partitioned array indices:  [1 9 2 0 3 5 6 7 8 4]

In [54]:
k =5
min_indices=np.argpartition(distances)[:k]
print(min_indices)

TypeError: _argpartition_dispatcher() missing 1 required positional argument: 'kth'

In [50]:
res=res[res.index.isin(min_indices)]
print(res[1])

28983    51.459424
28984    51.454919
28985    51.451665
28986    51.443484
28988    51.479600
Name: 1, dtype: float64